// default color set
$primary-color : #4cb050;
// color variation
$hover-color : #0c9f12;
// body color
$body-background:#6f15e2;
$section-background:#7e29ec;
// social color

// body var
$iconFontawesome: 'FontAwesome';
$iconFlaticon: 'Flaticon';
$bodyFont: 'Poppins', sans-serif;
$fontWeight: 400;
$bColor: #333333;
$bfSize: 16px;
$blineHeight: 24px / $bfSize;
$transition:all .5s;





